@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", serif;
}
.react-tabs__tab--selected {
  color: red !important;
  border: none !important;
  text-decoration: underline;
  font-weight: 600;
}
